.h2-button-div{
  display: flex;
  align-items: center;
  padding-right: 1rem;
  justify-content: space-between;
}
.cont >:not(:last-child){
  border-bottom: 2px solid #80808047;

}
.h2-button-div button{
  background-color: white;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
}


.h2-button-div h2{
  font-size: 2rem;
}
.main-div{
display: flex;
  justify-content: center;
  flex-direction: column;
}
.h2-button-div button:hover{
  background-color: #969393;
}
.p-div{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}
.p-div p{
  font-size: 1.5rem;
}
.expend{
  max-height: 100px;
}
.footer{
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 1.5rem;
  padding:2rem;
}
.footer a{
  border-bottom: 2px solid black;
  cursor: pointer;
}
.footer a:hover{
  border-bottom: none;
}

